# This pipeline builds two docker images (this golang api and swaggerUI from dockerhub )
# It pushes it to Azure ACR and runs it both. 
# CD

# this task is MS defined. Use this task to build, push or run multi-container Docker applications. 

#variables:
    #imageName: 'RumAir_Pmpro_Sensors_API-$(build.buildId)'


pool:
    vmImage: 'ubuntu-latest'
      
steps:
- task: DockerCompose@0
  displayName: build Golang app to Docker Image and produce swagger.json
  inputs:
    action: Build services
    dockerComposeFileArgs: BUILD_TYPE=$(AZDEVOPS_COMPOSE_BUILDTYPE)
    azureSubscriptionEndpoint: EPAM-Visual Studio Professional-Azure Resource Manager connection.
    azureContainerRegistry: rumairstaging.azurecr.io
    dockerComposeFile: docker-compose.yml
    projectName: $(Build.Repository.Name)
    qualifyImageNames: true
    #additionalImageTags: $(Build.BuildId)
    buildImages: true
    #abortOnContainerExit: true
- task: DockerCompose@0
  displayName: Push services
  inputs:
    action: Push services
    azureSubscriptionEndpoint: EPAM-Visual Studio Professional-Azure Resource Manager connection.
    azureContainerRegistry: rumairstaging.azurecr.io
    dockerComposeFile: docker-compose.yml
    projectName: $(Build.Repository.Name)
    qualifyImageNames: true
    #additionalImageTags: $(Build.BuildId)