# Build a Docker image to run, deploy, or push to a container registry.
# Add steps that use Docker Compose, tag images, push to a registry, run an image, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

pool:
    vmImage: 'ubuntu-latest'
  
variables:
    imageName: 'RumAir_Pmpro_Sensors_API-$(build.buildId)'
    GOBIN:  '$(GOPATH)/bin' # Go binaries path
    GOROOT: '/usr/local/go1.13' # Go installation path
    GOPATH: '$(system.defaultWorkingDirectory)/gopath' # Go workspace path
    projectPath: $(GOPATH)/src/github.com/$(build.repository.name) # Path to the repository

steps:
- script: |
    mkdir -p '$(GOBIN)'
    mkdir -p '$(GOPATH)/pkg'
    mkdir -p '$(projectPath)'
    shopt -s extglob
    mv !(gopath) '$(projectPath)'
    echo '##vso[task.prependpath]$(GOBIN)'
    echo '##vso[task.prependpath]$(GOROOT)/bin'
    echo 'MODULE PATH IS : $(projectPath)' 
  displayName: 'Set up the Go workspace'


# this task is MS defined. It pushes image to ACR also.
- task: Docker@2
  displayName: Build and push a Docker image to ACR
  inputs:
    containerRegistry: Epam-VS-AzureDockerRegistry
    repository: $(imageName)        #(Optional) Name of repository within the container registry corresponding to the Docker registry service connection specified as input for containerRegistry
    command: buildAndPush           #(Required) Acceptable values: buildAndPush/build/push/login/logout
    Dockerfile: $(projectPath)/Dockerfile

# https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/docker?view=azure-devops
# https://docs.microsoft.com/en-us/azure/devops/pipelines/library/service-endpoints?view=azure-devops&tabs=yaml

