# VERY IMPORTANT - it uses a volume witch is persisted. 
# Remember to delete this volume before new build, otherwise docker is not copying already existing swagger.json from container to host !
# command is 'docker volume rm rumair_pmpro_sensors_api_swaggerDefFile' or 'docker volume prune'.

version: "3.7"
services:
    sensors_api:
        image: $(AZ_CONTAINER_REGISTRY)/sensors_api:latest
        build:
            args:
                BUILD_TYPE: Build from AzureDevOps, by docker-compose.azure.prod.yml
    swagger:
        environment:
            - API_URL=http://somehostInAzure:5000/swagger/swagger.json
        #volumes:
         #   - ${WEBAPP_STORAGE_HOME}/site/wwwroot/swagger:/etc/swagger/:ro